<div class="container__page">
    <header class="header--center">
        <h1 class="">KOKO's Patter Lab</h1>
    </header>


    <div class="content-flex">
        <nav class="content-flex__sidebar--left flex-center base-dark">
            <% include ../partials/03-organisms/sidebar-menu %>
        </nav>
        <main class="content-flex__main-content--right brand-thrird-l flex-center page-container__content--box">
            <div class="content-main">



            </div>
        </main>
    </div>
</div>
