*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

body {
  box-sizing: border-box; }

html {
  width: 100%;
  height: 100%;
  perspective: 900; }

.wrap {
  display: block;
  padding: 10px;
  max-width: 1140px;
  width: 100%;
  margin: 0 auto;
  justify-content: space-between; }

html {
  font-family: "Gloria+Hallelujah", cursive;
  color: #2E282A;
  font-size: 10px; }

.center-text, .center-text__koko {
  text-align: center; }
  .center-text__koko {
    padding-top: 5rem; }

.big {
  font-size: 2em; }

h1 {
  font-size: 2.6em; }
  @media (min-width: 600px) {
    h1 {
      font-size: 3.8em; } }
  @media (min-width: 900px) {
    h1 {
      font-size: 4.4em; } }
  @media (min-width: 1200px) {
    h1 {
      font-size: 5em; } }

h2 {
  font-size: 2.2em;
  font-weight: normal; }
  @media (min-width: 600px) {
    h2 {
      font-size: 3.2em; } }
  @media (min-width: 900px) {
    h2 {
      font-size: 3.6em; } }
  @media (min-width: 1200px) {
    h2 {
      font-size: 4.2em; } }

h3 {
  font-size: 1.8em; }
  @media (min-width: 600px) {
    h3 {
      font-size: 2.8em; } }
  @media (min-width: 900px) {
    h3 {
      font-size: 3.1em; } }
  @media (min-width: 1200px) {
    h3 {
      font-size: 3.6em; } }

h4 {
  font-size: 1.6em; }
  @media (min-width: 600px) {
    h4 {
      font-size: 2.4em; } }
  @media (min-width: 900px) {
    h4 {
      font-size: 2.6em; } }
  @media (min-width: 1200px) {
    h4 {
      font-size: 3em; } }

h5 {
  font-size: 1.4em; }
  @media (min-width: 600px) {
    h5 {
      font-size: 2em; } }
  @media (min-width: 900px) {
    h5 {
      font-size: 2em; } }
  @media (min-width: 1200px) {
    h5 {
      font-size: 2.2em; } }

h6 {
  font-size: 1.2em; }
  @media (min-width: 600px) {
    h6 {
      font-size: 1.6em; } }
  @media (min-width: 900px) {
    h6 {
      font-size: 1.6em; } }

p {
  font-size: 1.3em; }
  @media (min-width: 600px) {
    p {
      font-size: 1.6em; } }

a {
  color: #CC8800; }

.color-box {
  border-radius: 3px;
  padding: 1em;
  font-size: 120%;
  margin: .5em;
  text-align: center; }

.color__primary-l {
  background: #CC8800;
  color: #f6f5f5; }

.grid-center {
  display: grid;
  justify-content: center;
  align-items: center;
  margin: 0; }

.grid-foot {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr;
  grid-gap: 10em;
  margin: auto;
  padding: 30px 10em; }

.grid-3 {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 20px;
  margin: auto;
  padding: 0; }
  @media (min-width: 600px) {
    .grid-3 {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-gap: 20px;
      margin: auto;
      padding: 0; } }
  @media (min-width: 900px) {
    .grid-3 {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      grid-gap: 20px;
      margin: auto;
      padding: 0; } }

.grid-4 {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 20px;
  margin: auto;
  padding: 0; }
  @media (min-width: 400px) {
    .grid-4 {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-gap: 20px;
      margin: auto;
      padding: 0; } }
  @media (min-width: 600px) {
    .grid-4 {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      grid-gap: 20px;
      margin: auto;
      padding: 0; } }
  @media (min-width: 900px) {
    .grid-4 {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr;
      grid-gap: 20px;
      margin: auto;
      padding: 0; } }

.header, .header--center, .header--space-between {
  height: 10rem;
  align-items: center; }
  .header--center {
    display: flex;
    justify-content: center; }
  .header--space-between {
    display: flex;
    justify-content: space-between; }

.content-flex {
  display: flex; }
  .content-flex__sidebar {
    flex: 0 0 18%;
    display: flex; }
  .content-flex__main-content {
    flex: 1; }

/*# sourceMappingURL=app.css.map */
