*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}


body {
  box-sizing: border-box;
  // background-color: $background;

}

html {
  width: 100%;
  height: 100%;
  perspective: 900;
  // overflow-y: scroll;
}

.wrap {
  display: block;
  padding: 10px;
  max-width: 1140px;
  width: 100%;
  margin: 0 auto;
  justify-content: space-between;
}
//media query manager


@mixin respond($breakpoint) {
  @if $breakpoint == break-xl {
    @media (min-width: $break-xl) { @content };
  }
  @if $breakpoint == break-l {
    @media (min-width: $break-l) { @content };
  }
  @if $breakpoint == break-m {
    @media (min-width: $break-m) { @content };
  }
  @if $breakpoint == break-s {
    @media (min-width: $break-s) { @content };
  }
  @if $breakpoint == break-xs {
    @media (min-width: $break-xs) { @content };
  }
}









// @mixin clearfix
//   &:before,
//   &:after
//     content: ''
//     display: table
//   &:after
//     clear: both
