html {
  font-family: $font-family-main;
  color: $color__dark;
  font-size: $font-size-base;
}
.center-text {
  text-align: center;
  &__koko {
    @extend .center-text;
    padding-top: 5rem;
    // color: $base-light;

  // &__about {
  //   @extend .center-text;
  // }
  }
}

.big {
  font-size: 2em;
}

h1 {
  font-size: 2.6em;
  @include respond(break-s) {
    font-size: 3.8em;
  }
  @include respond(break-m) {
    font-size: 4.4em;
  }
  @include respond(break-l) {
    font-size: 5em;
  }
  // @include respond(break-xl) {
  //   font-size: 2em;
  // }
}

h2 {
  font-size: 2.2em;
  font-weight: normal;
  @include respond(break-s) {
    font-size: 3.2em;
  }
  @include respond(break-m) {
    font-size: 3.6em;
  }
  @include respond(break-l) {
    font-size: 4.2em;
  }
  // @include respond(break-xl) {
  //   font-size: 2em;
  // }
}
h3 {
  font-size: 1.8em;
  @include respond(break-s) {
    font-size: 2.8em;
  }
  @include respond(break-m) {
    font-size: 3.1em;
  }
  @include respond(break-l) {
    font-size: 3.6em;
  }
  // @include respond(break-xl) {
  //   font-size: 2em;
  // }
}
h4 {
  font-size: 1.6em;
  @include respond(break-s) {
    font-size: 2.4em;
  }
  @include respond(break-m) {
    font-size: 2.6em;
  }
  @include respond(break-l) {
    font-size: 3em;
  }
  // @include respond(break-xl) {
  //   font-size: 2em;
  // }
}
h5 {
  font-size: 1.4em;
  @include respond(break-s) {
      font-size: 2em;
    }
    @include respond(break-m) {
      font-size: 2em;
    }
    @include respond(break-l) {
      font-size: 2.2em;
    }
    // @include respond(break-xl) {
    //   font-size: 2em;
    // }
}
h6 {
  font-size: 1.2em;
  @include respond(break-s) {
      font-size: 1.6em;
    }
    @include respond(break-m) {
      font-size: 1.6em;
    }
    // @include respond(break-l) {
    //   font-size: 2em;
    // }
    // @include respond(break-xl) {
    //   font-size: 2em;
    // }
}
p {
  font-size: 1.3em;
  @include respond(break-s) {
    font-size: 1.6em;
  }
  // @include respond(break-m) {
  //   font-size: 2em;
  // }
  // @include respond(break-l) {
  //   font-size: 2em;
  // }
  // @include respond(break-xl) {
  //   font-size: 2em;
  // }
}
a {
  color: $color__primary;
}
// .section-headers {
//   // font-size: 3rem;
//   // text-transform: uppercase;
//   // font-weight: 700;
//   display: inline-block;
//   background-image: -webkit-linear-gradient(right bottom, darken( $brand-thrird, 20% ), $brand-thrird, lighten( $brand-thrird, 30% ));
//   background-image: -o-linear-gradient(right bottom, darken( $brand-thrird, 20% ), $brand-thrird, lighten( $brand-thrird, 30% ));
//   background-image: linear-gradient(to right bottom, darken( $brand-thrird, 20% ), $brand-thrird, lighten( $brand-thrird, 30% ));
//   -webkit-background-clip: text;
//   color: transparent;
//   letter-spacing: .4rem;
//   transition: all .2s;
//
//   &:hover{
//     transform: skewY(-2deg) skewX(-15deg) scale(1.1);
//     text-shadow: .5rem 1rem 2rem rgba($black, .2);
//   }
// }
