//Colors
$color__primary:          #CC8800;
$color__secondary:        #00A6A6;
$color__thrird:           #6f732f;
$color__dark:             #2E282A;
$color__light:            #f6f5f5;

$color__black:            #000;
$color__white:            #fff;


//fonts
$font-family-main:      'Gloria+Hallelujah', cursive;;
$font-family-logo:      'Merienda', cursive;
$font-size-base:        10px;


//breakpoints
$break-xs: 400px; //23em;  //400px
$break-s:  600px; //37.5em;  //600px
$break-m:  900px;  //56.25em;  //900px
$break-l:  1200px; // 75em;   //1200px
$break-xl:  112.5em;  //1800px
