.container__page {
}

.header {
    height: 10rem;
    align-items: center;
    // background-color: $white;
    &--center {
        @extend .header;
        display: flex;
        justify-content: center;
    }
    &--space-between {
        @extend .header;
        display: flex;
        justify-content: space-between;
    }
}

.content-flex {
 display: flex;
 &__sidebar {
     flex: 0 0 18%;
     display: flex;
 }
 &__main-content {
     flex: 1;
 }
}
